/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'seoge UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:antialised;
  -moz-osx-font:grayscale;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}